<%= form.file_field :avatar, :style => "margin-left: auto; width: 278px; margin-right: auto;" %>
<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
